#main{
    display: flex;
}

.change-password button{
    width: 100%;
}

.change-password button:disabled{
    background: #bdbdbd;
    border-color: #bdbdbd;
    color: #eeeeee;
    cursor: default;
}

.common-input-group.margin-none{
    margin-bottom: 0;
}

.change-password-box button{
    margin-top : 30px
}

.change-password-box button#sendCodeBtn{
    margin-bottom : 30px
}

.common-input.certified-input {
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common-input.certified-input #authNum {
    padding: 14px 0;
    border: 0;
    height: 100%;
    width: 60%;
    font-size: 16px;
    background-color: transparent;
}

.common-input.certified-input #authNum::placeholder {
    color: #aaa;
}

.common-input.certified-input .auth-time,.common-input.certified-input .auth-time span {
    font-size: 16px;
    color: #9c9c9c;
    font-weight: normal;
}

.common-input.certified-input .common-input-group > .common-alert {
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    color: #e21d2c;
}