#main {
    background-color: #202022;
}

.member-title p {
    font-size: 13px;
    line-height: 1.73;
    color : #fff !important;
    padding-right : 21px !important;
}

.change-password-box .member-btn {
    padding-bottom : 30px !important;
}

.member-input-group {
    justify-content: center;
}

.member-input-group > span {
    bottom: 16px;
}