.popup {
    position: absolute;
}

.popup-box {
    position: fixed;
    background-color: #f4f4f4;
    border-radius: 6px;
    padding: 50px;
    z-index: 5000;
    color: #0a0a0a;
    font-size: 13px;
    left: 50%;
    top: 50%;
    transform: skew(-0.1deg) translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .popup-box {
        max-width: 80%;
    }

    .popup-box * {
        max-width: 100%;
    }
}

.popup-head {
    padding: 0 0 20px;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.popup-head, .popup-head span {
    font-size: 18px;
}

.popup-content {
    padding: 0 0 20px;
    text-align: center;
}

.popup-content > * {
    font-size: 14px;
}

.popup-btn {
    padding: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-btn button {
    width: 100%;
    margin-right: 6px;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 0;
    border-radius: 6px;
    outline: none;
}

.popup-btn button:last-child {
    margin-right: 0px;
}

.closePopup {
    background-color: #fff;
    border: solid 1px #cccccc;
    color: #777777;
}

.nextPopup {
    border: solid 1px #dda800;
    background-color: #f0b600;
    color: #fff;
}

.closeBtn {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    color: #777;
}

.closeBtn i {
    font-size: 20px;
    font-weight: 800;
}

.popup-ok {
    padding: 55px 60px 40px;
}

.popup-ok .popup-head {
    padding: 0 0 20px;
    border-bottom: 0;
    font-size: 18px !important;
}

.popup-head > * {
    font-size: 18px !important;
}

.popup-ok .popup-btn button {
    margin: 0 2px;
}

.popup-info {
    position: absolute !important;
    top: 100% !important;
    left: 100% !important;
    transform: translate(0, 0);
    padding: 50px;
    width: 540px;
}

.popup-info .popup-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px;
}

.popup-info .ph-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.popup-info .ph-title img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.popup-info .ph-title p {
    font-size: 24px;
    font-weight: 500;
}

.popup-info .ph-link a {
    margin-left: 4px;
    padding: 7px 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 13px;
    font-weight: 500;
    color: #777;
    border-radius: 6px;
}

.popup-info .popup-content {
    text-align: left;
    padding-bottom: 0;
}

.popup-info .popup-content .pc-title {
    text-align: left;
    margin-bottom: 5px;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #0a0a0a;
}

.popup-info .popup-content p > *, .popup-info .popup-content div {
    font-size: 14px;
    color: #777;
    font-weight: normal;
}

.popup-info .popup-content p em {
    display: inline-block;
    font-weight: 500;
    min-width: 50px;
    margin-right: 20px;
}

.popup-order-ul {
    padding: 0 20px;
}

.popup-order-ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-order-ul li > strong {
    font-weight: 500;
}

.popup-order-ul li > * {
    width: 50%;
    text-align: left;
    font-size: 14px;
    color: #777;
}

.popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: #000000;
    top: 0;
    left: 0;
    z-index: 500;
}

/*투자내역 설명 팝업*/
.popup-box.balance {
    background: #fff;
    border: solid 1px #979797;
    padding: 50px 43px 40px;
}

.popup-box.balance .popup-head {
    text-align: left;
    margin-bottom: 24px;
    width: 474px;
    font-weight: bold;
}

.popup-box.balance .popup-content {
    text-align: left;
}

.popup-box.balance .popup-content p {
    margin-bottom: 20px;
    color: #0a0a0a;
    line-height: 2;
    font-size: 14px;
}

.popup-box.balance .popup-content p:last-child {
    margin-bottom: 0;
}

.popup-box.balance .popup-content p em {
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .popup-box {
        width: calc(100% - 32px);
    }

    .popup-ok {
        /* width: calc(100% - 127px) !important; */
    }

    .popup-ok .popup-head {
        text-align: center;
    }

    .closeBtn {
        display: none;
    }

}
@media screen and (min-width: 375px) and (max-width: 424px) {
    .popup-box {
        padding : 50px 40px 50px 40px !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
    .popup-box {
        padding : 50px 30px 50px 30px !important;
    }
    .mobile-padding {
        padding : 0 20px !important;
    }
    .popup-order-ul li>* {
        width : auto;
    }
}