.common-title-desc {
    margin-bottom: 16px !important;
}

.disabled-desc {
    font-size: 16px;
    font-weight: 500;
    color: #0a0a0a;
    margin-bottom: 20px;
}

.popup-box {
    padding: 45px 60px !important;
    width: 375px;
}

.popup-btn {
    padding: 0 !important;
}

.popup-btn button {
    padding: 12px 0 !important;
    width: 50% !important;
}